<%- include("partials/header") %>

    <div class="form-row">
        <div class="col-md-12">
            <form class="form-signin" action="/login" method="POST">
                <h1 style="text-align: center">Login</h1>
                <input type="text" id="inputUsername" class="form-control form-control-lg" name="username" placeholder="Username" required autofocus>
                <input type="password" id="inputPassword" class="form-control form-control-lg" name="password" placeholder="Password" required>
                <button class="btn btn-lg btn-secondary btn-block" type="submit">Login <i class="fas fa-sign-in-alt"></i></button>
            </form>
            <div class="form-signin">
                <a href="/place">Go Back</a>
                <a class="float-right" href="/register">Create an account</a>
            </div>
        </div>
    </div>

<%- include("partials/footer") %>